{minimum_otp_vsn, "22.2"}.

{erl_opts, [
    warnings_as_errors,
    no_debug_info
]}.

{deps, [
    certifi,
    idna,
    {mimerl, "1.2.0"},
    {ibrowse, "4.4.0"},
    {parse_trans, "3.3.0"},
    {mytest1_no_rev,        {git, "https://github.com/anglli/mytest1.git"}},
    {mytest1_master,        {git, "https://github.com/anglli/mytest1.git", {branch, "master"}}},
    {mytest1_master_behind, {git, "https://github.com/anglli/mytest1.git", {branch, "master"}}},
    {mytest1_not_on_master, {git, "https://github.com/anglli/mytest1.git", {branch, "master"}}},
    {mytest1_feature,       {git, "https://github.com/anglli/mytest1.git", {branch, "feature"}}},
    {mytest1_tag1,          {git, "https://github.com/anglli/mytest1.git", {tag, "0.1"}}},
    {mytest1_not_on_tag1,   {git, "https://github.com/anglli/mytest1.git", {tag, "0.1"}}},
    {mytest1_ref1,          {git, "https://github.com/anglli/mytest1.git", {ref, "81376b1254fb23d99c85d52965448cfc80257117"}}},
    {mytest1_not_on_ref1,   {git, "https://github.com/anglli/mytest1.git", {ref, "81376b1254fb23d99c85d52965448cfc80257117"}}}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
%%    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
