{minimum_otp_vsn, "22.2"}.

{erl_opts, [
    warnings_as_errors,
    no_debug_info
]}.

{deps, [
    certifi,
    idna,
    {mimerl, "1.2.0"},
    {ibrowse, "4.4.0"}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
%%    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
